/* .Link {
  display: block;
  margin: 30px;
  padding: 15px;
  border: 0.25px solid black;
  width: 300px;
  font-size: 30px;
}

.Link::after {
  content: ">";
  margin-left: 15px;
} */
.Link a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
}
.Link a:hover {
  color: white;
  background: rgb(103, 182, 182);
  text-decoration: none;
}
.Link {
  padding: 0;
  font-family: "Comfortaa", cursive;
}
.Link.list-group-item {
  padding: 0;
}
